@model IEnumerable<EmployeeIndexViewModel>


@{
    ViewData["Title"] = "Employee List Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<h1>It's just a test inside New Index...</h1>

<p>We are not the same people !!!</p>

<head>
    <!-- Custom fonts for this template -->
    <link href="~/bootstrapTemplate/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    @*<link href="~/bootstrapTemplate/css/sb-admin-2.min.css" rel="stylesheet">*@

    <link href="~/css/site.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/bootstrapTemplate/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            @*<h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>*@
            <a class="btn btn-xs btn-outline-success float-md-right rounded-pill" asp-action="Create"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Add Employee</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
              
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Employee No.</th>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Designation</th>
                            <th>City</th>
                            <th>Joined</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Employee No.</th>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Designation</th>
                            <th>City</th>
                            <th>Joined</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.EmployeeNo</td>
                            <td><img class="rounded-circle img-thumbnail img-fluid" alt="image" src="@Url.Content(item.ImageURL)" width="45" height="38" /></td>
                            <td>@item.FullName</td>
                            <td>@item.Gender</td>
                            <td>@item.Designation</td>
                            <td>@item.City</td>
                            <td>@*@item.DateJoinded.ToString("dd/MM/yyyy")*@</td>
                            <td>@item.DateJoinded</td>
                            <td>
                                <a class="text-primary" style="text-decoration:none" asp-action="Edit" asp-route-id="@item.Id">
                                    <span class="fa-stack fa-1x">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-edit fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a class="text-success" style="text-decoration:none" asp-action="Detail" asp-route-id="@item.Id">
                                    <span class="fa-stack fa-1x">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-list-alt fa-stack-1x fa-inverse" aria-hidden="true"></i>
                                    </span>
                                </a>
                                <a class="text-danger" style="text-decoration:none" asp-action="Delete" asp-route-id="@item.Id">
                                    <span class="fa-stack fa-1x">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="far fa-trash-alt fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                        }
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
<!-- End of Main Content -->
<!-- Bootstrap core JavaScript-->
@*<script src="~/bootstrapTemplate/vendor/jquery/jquery.min.js"></script>*@
@*<script src="~/bootstrapTemplate/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>*@

<!-- Core plugin JavaScript -->
@*<script src="~/bootstrapTemplate/vendor/jquery-easing/jquery.easing.min.js"></script>*@

<!-- Custom scripts for all pages -->
@*<script src="~/bootstrapTemplate/js/sb-admin-2.min.js"></script>*@

<!-- Page level plugins -->
@*<script src="~/bootstrapTemplate/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/bootstrapTemplate/vendor/datatables/dataTables.bootstrap4.min.js"></script>

 Page level custom scripts
<script src="~/bootstrapTemplate/js/demo/datatables-demo.js"></script>*@
